<% layout('layouts/boilerplate') %>
<div class="row">
  <div class="d-none d-lg-block col"></div>
  <div class="col col-lg-9">
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading"><%= status %> <%= name %></h4>
      <p class="mb-0"><%= message %></p>
      <hr />
      <% if (process.env.NODE_ENV !== 'production') { %>
        <p class="mb-0 text-break"><%= stack %></p>
      <% } %>
    </div>
  </div>
  <div class="d-none d-lg-block col"></div>
</div>
