<% layout('layouts/boilerplate') %>
<div class="row">
  <div class="d-none d-md-block col"></div>
  <div class="col col-md-6">
    <h1 class="my-3">Sign up</h1>
    <div class="card shadow-sm">
      <div class="card-body">
        <form action="/register" method="Post" class="needs-validation" novalidate>
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" required autofocus/>
            <div class="invalid-feedback">Please enter an unique username</div>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="email" required />
            <div class="invalid-feedback">Please enter a valid email</div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required />
            <div class="invalid-feedback">Password can not be blank</div>
          </div>
          <div class="d-grid pt-3">
            <button type="submit" class="btn btn-primary mb-3">Sign up</button>
            <div class="d-flex">
              <p class="me-2">Already have an account?</p>
              <a class="link-underline link-underline-opacity-50 link-offset-2" href="/login">Log in here</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="d-none d-md-block col"></div>
</div>
